@import '../variables.scss';
.about-container {
  .about-header {
    color: $skyblue;
  }
  .step-container {
    .step-image {
      width: 200px;
      @media (max-width: 768px) {
        width: 100px;
      }
    }
    .step-text {
      width: calc(100% - 250px);
      @media (max-width: 768px) {
        width: calc(100% - 110px);
      }
    }
  }
}