@font-face {
  font-family: "HapppyMonkey";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HappyMonkey-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HomemeadeApple";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HomemadeApple-Regular.ttf") format("truetype");
}